p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Roboto", serif;
    color: white;
}

body {
    background-color: #D2CCEA;
    width: auto; 
    overflow-x: hidden;
    font-family: "Roboto", serif;
    margin: 0px;
    padding: 0px;
}

p {
    font-size: 20px;
}

/* NAV BAR */
.nav-bar {
    width: 100%;
    display: inline-block;
    background-color: #8670d8;
    font-family: "Roboto", serif;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-content {
    display:flex;
    justify-content: space-between;
}

.nav-content .logo-touch-target {
   display: flex;
   justify-content: space-between;
}

.nav-links {
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 10px;
}
  
.nav-links a {
    margin-left: 10px; 
    margin-right: 30px;
    margin-top: 10px;
    color: white;
    font-family: "Roboto", serif;
    text-decoration: none;
    font-size: 20px;
}

.nav-links a:hover {
    color: #f8b92a;
}

.nav-logo {
    height: 60px;
    margin: auto;
    padding-top: 0;
    padding-right: 0;
    padding-left: 1%;
}

.nav-logo img {
    width: 200px;
}

.nav-content nav {
    display: block;
    width: 100%;
    padding-top: 0px;
    padding-right: 0px;
}

.banner {
    padding: 20px 0px 50px 0px;
    height: 150px;
    background-color: #D2CCEA;
}

.banner .logo {
    max-width:180px;
    max-height:60px;
    width: auto;
    height: auto;
}

.banner .title {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

/* INDEX.HTML*/
.profile {
    text-align: center;
    display: flex;
    flex-direction: row;
    padding-right: 100px;
    padding-bottom: 10%;
}

.profile h1 {
        font-size: 50px;
        font-weight: 700;
        color: white;
}

.profile-picture{
        border-radius: 70px;
        max-width: px;
        height: 478px;
}

.about-me {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10%;
}

.about-me-text {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Add some spacing between the text items */
}

.AboutMeContainer {
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.154);
    border-radius: 70px;
    backdrop-filter: blur(10px);
    background-color:hsl(253 36% 47% / 10);
    height: fit-content;
    width: fit-content;
    margin-top: 100px;
    margin-left: 10%;
  }

.hi-im-me {
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.154);
    border-radius: 70px;
    backdrop-filter: blur(10px);
    background-color:hsl(253 36% 47% / 10);
    height: fit-content;
    min-width: 300px;
    margin-top: 100px;
    margin-left: 10%;
  }

.my-info {
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.154);
    border-radius: 70px;
    backdrop-filter: blur(10px);
    background-color: hsl(253 36% 47% / 10);
    width: fit-content;
    max-width: 90%;
    margin-left: 100px;
    margin-top: 6%;    
    padding: 20px;
    box-sizing: border-box; 
  }

.middle-section {
    text-align: left;
    display: flex;
}

/*HOBBIES.HTML*/

.hobbies {
    text-align: center;
    height: auto;
}

.hobbies h1{
    font-size: 60px;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-left:10px;
}

.hobbyInfo h1 {
    font-size: 40px;
    font-weight: 700;
    color: white;
    text-align: left;
    margin-left:10px;
}
.hobbyInfo p{
    font-size: 30px;
    font-weight: 300;
    color: white;
    text-align: left;
    margin-left:10px;
}

/* WORK.HTML */

.work h1 {
    font-size: 60px;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-left:10px;
}
.jobInfo {
    text-align: left;
    color: white;
}

.jobInfo h2 {
    font-size: 40px;
    font-weight: 700;
    color: white;
    text-align: left;
    margin-left:10px;
}
.jobInfo p {
    color: white;
    font-weight: 300;
    margin-left:10px;
}

.jobDate {
    flex-basis: 30%;
    text-align: right;
}
.jobDate p {
    color: white;
    font-size: 35px;
    font-weight: 300;
    text-align: right;
}

/* MAP.HTML */

.Mapcontainer {
    width: 90%;
    height: 550px;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.154);
    font-size: 24px;
    border-radius: 24px;
    backdrop-filter: blur(10px);
    background-color:hsl(253 36% 47% / 10);
    padding: 20px;
    margin: 5%;
    padding-bottom: 40px;
    padding-top: 40px;
  }
  
#map {
    width: 100%;
    height: 550px;
    margin: 0;
    padding: 0;
    border-radius: 24px;
}

.maptitle{
    font-size: 60px;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-left:10px;
}

/* FOOTER.HTML */

.footer {
    background-color: #8670d8;
    text-align: center;
    width: 100%; 
    position: sticky;
    bottom: 0; 
  }

.footer-main {
    background-color: #8670d8;
    text-align: center;
    position: sticky;
    bottom: 0; 
    left: 0;
    width: 100%; 
}

.footer-content {
    display:flex;
    justify-content: center;  
    flex-direction: row;
    bottom: 0; 
    position: sticky;
}

.footer-image { 
    width: 60px;
    height: 60px;
    padding: 20px;
    cursor: pointer;
}

/* TIMELINE.HTML */
.timeline-container {
  width: 80%;
  color: white;
  font-size: x-large;
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.154);
  font-size: 24px;
  border-radius: 24px;
  backdrop-filter: blur(10px);
  background-color:hsl(253 36% 47% / 10);
  margin: 5%;
  padding: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}

form {
  margin-bottom: 20px;
  width: 95%;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="content"],
textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* THANKYOU.HTML*/
.thankyou {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.154);
    border-radius: 70px;
    backdrop-filter: blur(10px);
    background-color:hsl(253 36% 47% / 10);
    text-align: center;
    height: 300px;
    width: 500px;
    margin-top: 100px;
    margin-left: 33%;
}

/* SHARED ONES */
.container {
    width: auto;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.154);
    font-size: 24px;
    border-radius: 24px;
    backdrop-filter: blur(10px);
    background-color:hsl(253 36% 47% / 10);
    margin: 20px 200px 20px 200px;
    padding: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
}

.container img {
    width: 200px;
    flex-basis:20%
}

.container .hobbyInfo {
    /* flex-basis: 80%; */
}

button {
    background-color: #8670d8;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #f8b92a;
  }
  
  .submit-button {
      display: inline-block;
      background-color: #8670d8;
      width: 100px;
      border-radius: 70px;
      padding: 10px;
      text-align: center;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      text-decoration: none;
  }
  
  .submit-button span {
      color: #8670d8;
      font-family: "Roboto", serif;
      text-decoration: none;
      font-size: 20px;
  }
  
  .submit-button:hover {
      background-color: #f8b92a;
      cursor: pointer;
}

/* Media Query for Tablets and Mobile Screens */
@media screen and (max-width: 768px) {
    .nav-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }

    .thankyou{
        max-width: 90%;
        margin: 5%;
    }

    .timeline-container {
        max-width: 90%;
        max-height: 80%;
        margin: 5%;
    }

    form {
        margin-bottom: 10px;
        width: 95%;
    }

    label {
        font-size: 18px;
        margin-bottom: 3px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        padding: 8px;
        margin-bottom: 8px;
    }

    button {
        padding: 8px 16px;
    }
}

/* Media Query for Mobile Screens */
@media screen and (max-width: 698px) {
    .timeline-container {
        max-width: 90%;
        padding: 10px;
        margin: 5%;
    }

    .thankyou{
        max-width: 90%;
        margin: 5%;
        max-height: 80%;
    }

    form {
        margin-bottom: 5px;
    }

    label {
        font-size: 16px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        padding: 6px;
        margin-bottom: 6px;
    }

    button {
        padding: 6px 12px;
        font-size: 14px;
    }

    .profile,
    .hobbies,
    .work{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 0px;
    }

    .nav-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }

    .hi-im-me,
    .AboutMeContainer,
    .my-info,
    .container,
    .jobInfo,
    .jobDate    
     {
        width: 80%;
        margin: 20px auto;

    }

    .AboutMeContainer {
        margin-top: 20px;
    }
}