/* Typography and Base Styles */
p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Roboto", serif;
    color: white;
}

p {
    font-size: 20px;
}

/* Global Styles */
body {
    background-color: #D2CCEA;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/* Navigation Bar */
.nav-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #8670d8;
    font-family: "Roboto", serif;
    font-weight: 700;
    padding: 10px;
}

.nav-links {
    margin-right: 30px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.nav-links:hover {
    color: #f8b92a;
}

.nav-logo {
    height: 60px;
    margin-left: 1%;
}

/* Profile Section */
.profile {
    text-align: center;
    display: flex;
    flex-direction: row;
    padding-right: 100px;
}

.profile h1 {
    font-size: 50px;
    font-weight: 700;
}

.profile-picture {
    border-radius: 70px;
    height: 478px;
}

.about-me {
    display: flex;
    flex-direction: column;
    padding: 10%;
}

/* Container Styles */
.container {
    width: auto;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.154);
    font-size: 24px;
    border-radius: 24px;
    backdrop-filter: blur(10px);
    background-color: #8670d8;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.container img {
    width: 200px;
    flex-basis: 20%;
}

.container .hobbyInfo {
    flex-basis: 80%;
}

.hobbyInfo h1,
.hobbyInfo p {
    font-size: 40px;
    font-weight: 700;
    color: black;
    text-align: left;
    margin-left: 10px;
}

/* ... (Other Sections and Styles) ... */

/* Thank You Section */
.thankyou {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.154);
    border-radius: 70px;
    backdrop-filter: blur(10px);
    background-color: #8670d8;
    text-align: center;
    height: 300px;
    width: 500px;
    margin-top: 100px;
    margin-left: 33%;
}

/* Submit Button */
.submit-button {
    display: inline-block;
    background-color: #8670d8;
    width: 100px;
    border-radius: 70px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    text-decoration: none;
}

.submit-button span {
    color: #8670d8;
    font-family: "Roboto", serif;
    text-decoration: none;
    font-size: 20px;
}

.submit-button:hover {
    background-color: #f8b92a;
    cursor: pointer;
}
