<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
</head>

<body>
    <header class="nav-bar">
        <div class="nav-content">
                <a href="/"> 
                    <div class="nav-logo">
                    <img src="./static/img/logo.svg" />
                    </div>
                </a>
        <div class = "nav-links">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('Work') }}">Experience</a>
            <a href="{{ url_for('Hobbies') }}">Projects</a>
            <a href="{{ url_for('Map') }}">Map</a>
            <a href="{{ url_for('Timeline') }}">Contact</a>
            <a href="{{ url_for('Post') }}">Posts</a>

        </div>    
        </div>
    </header>
        <div class="profile">
        <div class="AboutMeContainer">
            <div class="about-me">
                <h1> Hi I'm Margaret!
                    👋😁 </h1>
            </div> 
        </div>  
            <img class = "AboutMeContainer" src="./static/img/picture.png">
            <div class="AboutMeContainer">
                <div class="about-me">
                    <h2> 🎓Computer Science Junior @ Hunter University  </h2>
                    <h2> 💻 Production Engineer Summer Fellow @ MLH  </h2>
                    <h2> 🎾 Tennis Enthusiast & 🧩 Puzzle Lover</h2>
                </div> 
            </div>
        </div>
       <footer class="footer-main">
        <div class ="footer-content">
            <a href="https://www.linkedin.com/in/margaret-diaz4570/" target="_blank">
                <img class="footer-image" src="./static/img/linkedin.png">
            </a>
            <a href="mailto:margaret.diaz05@myhunter.cuny.edu?subject=Let's connect!">
                <img class="footer-image" src="./static/img/email.png">
            </a> 
            <a href="https://github.com/MargaretDiaz4570" target="_blank">
                <img class="footer-image" src="./static/img/github.png">
            </a> 
            <a href="https://drive.google.com/file/d/1pknbXNljJDh47WFE5Xe4UZHkBffrjjci/view" target="_blank">
                <img class="footer-image" src="./static/img/resume.png">
            </a>
        </div>
    </footer>
</body>
</html>